<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource alias="/files" base-name="/">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource alias="/" base-name="/">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource alias="/wc" base-name="/">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource alias="/t" base-name="/">
      </resource>
   </extension>

   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/t/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/wc">
      </servlet>
   </extension>

   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory">
      </servlet>
   </extension>

</plugin>
