<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="loginModule" name="Login Module" schema="schema/LoginModule.exsd"/>
   <extension-point id="authorizer" name="Authorizer" schema="schema/authorizer.exsd"/>
   <extension
         point="org.elwiki.authorize.authorizer">
      <authorizer
            class="org.elwiki.authorize.internal.authorizer.DefaultAuthorizer"
            id="DefaultAuthorizer">
      </authorizer>
      <authorizer
            class="org.elwiki.authorize.internal.authorizer.WebContainerAuthorizer"
            id="WebContainerAuthorizer">
      </authorizer>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.apache.wiki.auth.UserProfile"
            class="org.elwiki.authorize.internal.Profile2UserAdapterFactory">
         <adapter
               type="org.osgi.service.useradmin.User">
         </adapter>
      </factory>
      <factory
            adaptableType="org.elwiki.permissions.GroupPermission"
            class="org.elwiki.authorize.internal.IsGroupContainAdapterFactory">
         <adapter
               type="java.lang.Boolean">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.elwiki.preferences.ui.preferencePages">
      <page
            class="org.elwiki.authorize.internal.services.AuthenticationManagerPreferencePage"
            id="org.elwiki.authorize.page.authentication_manager"
            name="Authentication">
      </page>
      <page
            class="org.elwiki.authorize.internal.services.AuthorizationManagerPreferencePage"
            id="org.elwiki.authorize.page.authorization_manager"
            name="Authorizer">
      </page>
   </extension>

</plugin>
