<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="loginModule" name="Login Module" schema="schema/LoginModule.exsd"/>
   <extension-point id="authorizer" name="Authorizer" schema="schema/authorizer.exsd"/>
   <extension-point id="userProfileDatabase" name="User&apos;s wiki profiles database" schema="schema/userProfileDatabase.exsd"/>
   <extension
         point="org.elwiki.authorize.loginModule">
      <loginModule
            class="org.elwiki.authorize.login.UserDatabaseLoginModule"
            id="org.elwiki.authorize.login.UserDatabaseLoginModule">
      </loginModule>
   </extension>
   <extension
         point="org.elwiki.authorize.authorizer">
      <authorizer
            class="org.elwiki.authorize.WebContainerAuthorizer"
            id="WebContainerAuthorizer">
      </authorizer>
   </extension>
   <extension
         point="org.elwiki.authorize.userProfileDatabase">
      <dataBase
            class="org.elwiki.authorize.user.XMLUserDatabase"
            id="XMLUserDatabase">
      </dataBase>
      <dataBase
            class="org.elwiki.authorize.user.UserAdminDatabase"
            id="UserAdminDatabase">
      </dataBase>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.apache.wiki.auth.user0.UserProfile"
            class="org.elwiki.authorize.user.Profile2UserAdapterFactory">
         <adapter
               type="org.osgi.service.useradmin.User">
         </adapter>
      </factory>
   </extension>

</plugin>
