<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <setAttribute key="additional_plugins"/>
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/sample (JSP,92b)"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <stringAttribute key="featureDefaultLocation" value="workspace"/>
    <stringAttribute key="featurePluginResolution" value="workspace"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-16"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console 10002"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dorg.eclipse.swt.graphics.Resource.reportNonDisposed=true&#10;-Declipse.ignoreApp=true&#10;-Dosgi.noShutdown=true&#10;-Dorg.osgi.service.http.port=8082"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_features">
        <setEntry value="jetty_osgi.feature:default"/>
        <setEntry value="org.eclipse.equinox.core.feature:default"/>
        <setEntry value="org.eclipse.equinox.serverside.sdk:default"/>
    </setAttribute>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="com.sun.jna*5.8.0.v20210503-0343@default:default"/>
        <setEntry value="com.sun.jna.platform*5.8.0.v20210406-1004@default:default"/>
        <setEntry value="jakarta.servlet-api@default:default"/>
        <setEntry value="javax.annotation@default:default"/>
        <setEntry value="javax.el@default:default"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="javax.servlet.jsp@default:default"/>
        <setEntry value="org.apache.batik.constants*1.14.0.v20210324-0332@default:default"/>
        <setEntry value="org.apache.batik.constants*1.9.1.v20180227-1645@default:default"/>
        <setEntry value="org.apache.batik.css*1.14.0.v20210324-0332@default:default"/>
        <setEntry value="org.apache.batik.i18n*1.14.0.v20210324-0332@default:default"/>
        <setEntry value="org.apache.batik.i18n*1.9.1.v20180227-1645@default:default"/>
        <setEntry value="org.apache.batik.util*1.14.0.v20210324-0332@default:default"/>
        <setEntry value="org.apache.commons.codec@default:default"/>
        <setEntry value="org.apache.commons.io@default:default"/>
        <setEntry value="org.apache.commons.jxpath@default:default"/>
        <setEntry value="org.apache.commons.logging@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.httpcomponents.httpclient@default:default"/>
        <setEntry value="org.apache.httpcomponents.httpcore@default:default"/>
        <setEntry value="org.apache.jasper.glassfish@default:default"/>
        <setEntry value="org.apache.sshd.osgi@default:default"/>
        <setEntry value="org.apache.xmlgraphics@default:default"/>
        <setEntry value="org.bouncycastle.bcpg@default:default"/>
        <setEntry value="org.bouncycastle.bcprov@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.ecf.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf.identity@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.httpclient45@default:default"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer.ssl@default:false"/>
        <setEntry value="org.eclipse.ecf.provider.filetransfer@default:default"/>
        <setEntry value="org.eclipse.ecf.ssl@default:false"/>
        <setEntry value="org.eclipse.ecf@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common@2:true"/>
        <setEntry value="org.eclipse.equinox.concurrent@default:default"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin.equinox@default:default"/>
        <setEntry value="org.eclipse.equinox.frameworkadmin@default:default"/>
        <setEntry value="org.eclipse.equinox.http.jetty@default:default"/>
        <setEntry value="org.eclipse.equinox.http.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.http.servlet@default:default"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper@default:default"/>
        <setEntry value="org.eclipse.equinox.launcher.gtk.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.equinox.launcher@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.security.linux@default:false"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jetty.http*10.0.6@default:default"/>
        <setEntry value="org.eclipse.jetty.http*9.4.24.v20191120@default:default"/>
        <setEntry value="org.eclipse.jetty.io*10.0.6@default:default"/>
        <setEntry value="org.eclipse.jetty.io*9.4.24.v20191120@default:default"/>
        <setEntry value="org.eclipse.jetty.security*10.0.6@default:default"/>
        <setEntry value="org.eclipse.jetty.security*9.4.24.v20191120@default:default"/>
        <setEntry value="org.eclipse.jetty.server*10.0.6@default:default"/>
        <setEntry value="org.eclipse.jetty.server*9.4.24.v20191120@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet*10.0.6@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet*9.4.24.v20191120@default:default"/>
        <setEntry value="org.eclipse.jetty.util*10.0.6@default:default"/>
        <setEntry value="org.eclipse.jetty.util*9.4.24.v20191120@default:default"/>
        <setEntry value="org.eclipse.jetty.util.ajax@default:default"/>
        <setEntry value="org.eclipse.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.jface.notifications@default:default"/>
        <setEntry value="org.eclipse.jface@default:default"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.osgi@-1:true"/>
        <setEntry value="org.eclipse.swt.gtk.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.swt@default:default"/>
        <setEntry value="org.eclipse.urischeme@default:default"/>
        <setEntry value="org.sat4j.core@default:default"/>
        <setEntry value="org.sat4j.pb@default:default"/>
        <setEntry value="org.slf4j.api@default:default"/>
        <setEntry value="org.tukaani.xz@default:default"/>
        <setEntry value="org.w3c.css.sac@default:default"/>
        <setEntry value="org.w3c.dom.events@default:default"/>
        <setEntry value="org.w3c.dom.smil*1.0.0.v200806040011@default:default"/>
        <setEntry value="org.w3c.dom.smil*1.0.1.v200903091627@default:default"/>
        <setEntry value="org.w3c.dom.svg@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="jetty_osgi@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="true"/>
    <stringAttribute key="timestamp" value="1637360983589"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
