<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.elwiki.core.plugins.ReferredPagesPlugin"
           name="ReferredPagesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.TableOfContents"
           name="TableOfContents">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.Counter"
           name="Counter">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.CurrentTimePlugin"
           name="CurrentTimePlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.Table"
           name="Table">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.elwiki.core.plugins.ReferringPagesPlugin"
           name="ReferringPagesPlugin">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.elwiki.core.plugins.pageview.PageViewPlugin"
           name="PageViewPlugin">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.elwiki.core.plugins.InsertPage"
           name="InsertPage">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.elwiki.core.plugins.Image"
           name="Image">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.BugReportHandler"
           name="BugReportHandler">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.denounce.Denounce"
           name="Denounce">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.Groups"
           name="Groups">
     </wikiPlugin>
     <wikiPlugin
           alias="If"
           class="org.elwiki.core.plugins.If"
           name="IfPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.IndexPlugin"
           name="IndexPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.ListLocksPlugin"
           name="ListLocksPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.Note"
           name="Note">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.RecentChangesPlugin"
           name="RecentChanges">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.ReferringUndefinedPagesPlugin"
           name="ReferringUndefinedPagesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.SampleAjaxPlugin"
           name="SampleAjaxPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.Search"
           name="Search">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.SessionsPlugin"
           name="SessionsPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.UndefinedPagesPlugin"
           name="UndefinedPagesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.UnusedPagesPlugin"
           name="UnusedPagesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.WeblogArchivePlugin"
           name="WeblogArchivePlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.WeblogEntryPlugin"
           name="WeblogEntryPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.core.plugins.WeblogPlugin"
           name="WeblogPlugin">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
  </extension>

</plugin>
