<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.apache.wiki.plugin.ReferredPagesPlugin"
           id="ReferredPagesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.TableOfContents"
           id="TableOfContents">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.Counter"
           id="Counter">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.CurrentTimePlugin"
           id="CurrentTimePlugin">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.apache.wiki.plugin.ReferringPagesPlugin"
           id="ReferringPagesPlugin">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.apache.wiki.plugin.PageViewPlugin"
           id="PageViewPlugin">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.apache.wiki.plugin.InsertPage"
           id="InsertPage">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.apache.wiki.plugin.Image"
           id="Image">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.AbstractReferralPlugin"
           id="AbstractReferralPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.BugReportHandler"
           id="BugReportHandler">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.Denounce"
           id="Denounce">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.Groups"
           id="Groups">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.If"
           id="If">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.IndexPlugin"
           id="IndexPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.ListLocksPlugin"
           id="ListLocksPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.Note"
           id="Note">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.RecentChangesPlugin"
           id="RecentChangesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.ReferringUndefinedPagesPlugin"
           id="ReferringUndefinedPagesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.SampleAjaxPlugin"
           id="SampleAjaxPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.Search"
           id="Search">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.SessionsPlugin"
           id="SessionsPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.UndefinedPagesPlugin"
           id="UndefinedPagesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.UnusedPagesPlugin"
           id="UnusedPagesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.WeblogArchivePlugin"
           id="WeblogArchivePlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.WeblogEntryPlugin"
           id="WeblogEntryPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.WeblogPlugin"
           id="WeblogPlugin">
     </wikiPlugin>
  </extension>

</plugin>
