<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.apache.wiki.plugin.ReferredPagesPlugin"
           name="ReferredPagesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.TableOfContents"
           name="TableOfContents">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.Counter"
           name="Counter">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.CurrentTimePlugin"
           name="CurrentTimePlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.elwiki.plugins.Table"
           name="Table">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.apache.wiki.plugin.ReferringPagesPlugin"
           name="ReferringPagesPlugin">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.apache.wiki.plugin.pageview.PageViewPlugin"
           name="PageViewPlugin">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.apache.wiki.plugin.InsertPage"
           name="InsertPage">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
     <wikiPlugin
           class="org.apache.wiki.plugin.Image"
           name="Image">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.BugReportHandler"
           name="BugReportHandler">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.Denounce"
           name="Denounce">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.Groups"
           name="Groups">
     </wikiPlugin>
     <wikiPlugin
           alias="If"
           class="org.apache.wiki.plugin.If"
           name="IfPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.IndexPlugin"
           name="IndexPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.ListLocksPlugin"
           name="ListLocksPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.Note"
           name="Note">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.RecentChangesPlugin"
           name="RecentChangesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.ReferringUndefinedPagesPlugin"
           name="ReferringUndefinedPagesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.SampleAjaxPlugin"
           name="SampleAjaxPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.Search"
           name="Search">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.SessionsPlugin"
           name="SessionsPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.UndefinedPagesPlugin"
           name="UndefinedPagesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.UnusedPagesPlugin"
           name="UnusedPagesPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.WeblogArchivePlugin"
           name="WeblogArchivePlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.WeblogEntryPlugin"
           name="WeblogEntryPlugin">
     </wikiPlugin>
     <wikiPlugin
           class="org.apache.wiki.plugin.WeblogPlugin"
           name="WeblogPlugin">
     </wikiPlugin>
  </extension>
  <extension
        point="org.elwiki.api.WikiPlugin">
  </extension>

</plugin>
