<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- START ~~ :FVK: definitions ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ -->

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.apache.wiki.api.core.Command"
            class="org.elwiki.internal.CmdCodeAdapterFactory">
         <adapter
               type="org.elwiki.internal.CmdCode">
         </adapter>
      </factory>
   </extension>
<!-- ~~ :FVK: ~~ перенесено в @Component -->
   <extension
         id="filter.context"
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/*.cmd"
            class="org.elwiki.web.PageFilterContext"
            httpcontextId="org.elwiki.resources.httpcontext"
            load-on-startup="true">
      </filter>
   </extension>
<!-- ~~ :FVK: ~~ перенесено в @Component -->
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/*.cmd"
            class="org.elwiki.web.PageFilterAuthentication"
            httpcontextId="org.elwiki.resources.httpcontext"
            load-on-startup="true">
      </filter>
   </extension>
<!-- ~~ :FVK: ~~ перенесено в @Component -->
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/*.cmd"
            class="org.elwiki.web.PageFilter"
            httpcontextId="org.elwiki.resources.httpcontext"
            load-on-startup="true">
      </filter>
   </extension>
<!-- ~~TEST~~ -->
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/*.cmd"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory"
            httpcontextId="org.elwiki.resources.httpcontext">
      </servlet>
   </extension>
<!-- ~~TEST~~ -->
   <extension
         id="pages"
         point="org.eclipse.equinox.http.registry.httpcontexts">
      <httpcontext
            class="org.elwiki.web.PageServletContextHelper"
            id="org.elwiki.resources.httpcontext">
         <resource-mapping
               path="/page">
         </resource-mapping>
      </httpcontext>
   </extension>

<!--
         <resource-mapping
               path="/">
         </resource-mapping>
-->

   <!-- END ~ ~~ :FVK: definitions ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ -->

   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/scripts/*"
            base-name="/resources/scripts">
      </resource>
      <resource
            alias="/favicons/*"
            base-name="/resources/favicons">
      </resource>
      <resource
            alias="/images/*"
            base-name="/resources/images">
      </resource>

      <resource
            alias="/scripts/*.xml"
            base-name="/resources/scripts">
      </resource>
      <resource
            alias="/templates/default/fonts/FontJspwiki.eot"
            base-name="/templates/default/fonts/FontJspwiki.eot">
      </resource>
      <resource
            alias="/templates/default/fonts/FontJspwiki.svg"
            base-name="/templates/default/fonts/FontJspwiki.svg">
      </resource>
      <resource
            alias="/templates/default/fonts/FontJspwiki.ttf"
            base-name="/templates/default/fonts/FontJspwiki.ttf">
      </resource>
      <resource
            alias="/templates/default/fonts/FontJspwiki.woff"
            base-name="/templates/default/fonts/FontJspwiki.woff">
      </resource>
      <resource
            alias="/templates/default/haddock-wysiwyg.css"
            base-name="/resources/templates/default/haddock-wysiwyg.css">
      </resource>

      <resource
            alias="/template/haddock/haddock.css"
            base-name="/resources/templates/default/haddock.css">
      </resource>
      <!-- :FVK: ~~ повтор haddock.css для иного URL -->
      <resource
            alias="/templates/default/haddock.css"
            base-name="/resources/templates/default/haddock.css">
      </resource>
      <resource
            alias="/templates/default/haddock-dark.css"
            base-name="/resources/templates/default/haddock-dark.css">
      </resource>
   </extension>

<!-- JSPwiki
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/webapp">
      </servlet>
      <servlet
            alias="/templates/default/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/templates/default">
      </servlet>
   </extension>
-->

   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/attach/*"
            class="org.apache.wiki.ui.WikiServletFilter"
            load-on-startup="true">
      </filter>
   </extension>

   <!-- filters ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ -->

   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/wiki/*"
            class="org.apache.wiki.ui.WikiJSPFilter"
            load-on-startup="true">
      </filter>
   </extension>

<!--:FVK:
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/atom/*"
            class="org.apache.wiki.ui.WikiServletFilter"
            load-on-startup="true">
      </filter>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/RPCU/"
            class="org.apache.wiki.ui.WikiServletFilter"
            load-on-startup="true">
      </filter>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/RPC2/"
            class="org.apache.wiki.ui.WikiServletFilter"
            load-on-startup="true">
      </filter>
   </extension>
-->
<!-- JSPwiki
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="*.jsp"
            class="org.apache.wiki.ui.WikiJSPFilter"
            load-on-startup="true">
      </filter>
   </extension>
-->
</plugin>
