<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <!-- START ~~ :FVK: definitions ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ -->

   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.lang.String"
            class="org.elwiki.internal.CmdContextAdapterFactory">
         <adapter
               type="org.apache.wiki.api.core.ContextEnum">
         </adapter>
      </factory>
      <factory
            adaptableType="org.apache.wiki.api.core.ContextEnum"
            class="org.elwiki.internal.CmdCodeAdapterFactory">
         <adapter
               type="org.elwiki.internal.CmdCode">
         </adapter>
      </factory>
   </extension>

   <!-- END ~ ~~ :FVK: definitions ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ -->

   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/scripts/*"
            base-name="/resources/scripts">
      </resource>
      <resource
            alias="/favicons/*"
            base-name="/resources/favicons">
      </resource>
      <resource
            alias="/favicon.ico"
            base-name="/resources/images/favicon.ico">
      </resource>
      <resource
            alias="/images/*"
            base-name="/resources/images">
      </resource>

      <resource
            alias="/scripts/*.xml"
            base-name="/resources/scripts">
      </resource>
      <resource
            alias="/shapes/default/fonts/FontJspwiki.eot"
            base-name="/shapes/default/fonts/FontJspwiki.eot">
      </resource>
      <resource
            alias="/shapes/default/fonts/FontJspwiki.svg"
            base-name="/shapes/default/fonts/FontJspwiki.svg">
      </resource>
      <resource
            alias="/shapes/default/fonts/FontJspwiki.ttf"
            base-name="/shapes/default/fonts/FontJspwiki.ttf">
      </resource>
      <resource
            alias="/shapes/default/fonts/FontJspwiki.woff"
            base-name="/shapes/default/fonts/FontJspwiki.woff">
      </resource>
      <resource
            alias="/shapes/default/haddock-wysiwyg.css"
            base-name="/resources/shapes/default/haddock-wysiwyg.css">
      </resource>

      <resource
            alias="/shapes/haddock/haddock.css"
            base-name="/resources/shapes/default/haddock.css">
      </resource>
      <!-- :FVK: ~~ повтор haddock.css для иного URL -->
      <resource
            alias="/shapes/default/haddock.css"
            base-name="/resources/shapes/default/haddock.css">
      </resource>
      <resource
            alias="/shapes/default/haddock-dark.css"
            base-name="/resources/shapes/default/haddock-dark.css">
      </resource>
   </extension>

   <!-- :FVK: - workaround: прямая ссылка на ресурс. -->
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/shapes/default/images/feather-small.png"
            base-name="/shapes/default/images/feather-small.png">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/shapes/default/images/note.png"
            base-name="/shapes/default/images/note.png">
      </resource>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/Assets/*"
            base-name="/resources/assets">
      </resource>
   </extension>

<!-- JSPwiki
   <extension
         point="org.eclipse.equinox.http.registry.servlets">
      <servlet
            alias="/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/webapp">
      </servlet>
      <servlet
            alias="/shapes/default/*.jsp"
            class="org.eclipse.equinox.jsp.jasper.registry.JSPFactory:/shapes/default">
      </servlet>
   </extension>
-->

   <!-- filters ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ ~~ -->

<!-- ~~ :FVK: ~~ перенесено в @Component
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/attach/*"
            class="org.apache.wiki.ui.WikiServletFilter"
            load-on-startup="true">
      </filter>
   </extension>

   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/wiki/*"
            class="org.apache.wiki.ui.WikiJSPFilter"
            load-on-startup="true">
      </filter>
   </extension>
-->

<!-- JSPwiki
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="*.jsp"
            class="org.apache.wiki.ui.WikiJSPFilter"
            load-on-startup="true">
      </filter>
   </extension>
-->


<!--:FVK:
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/atom/*"
            class="org.apache.wiki.ui.WikiServletFilter"
            load-on-startup="true">
      </filter>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/RPCU/"
            class="org.apache.wiki.ui.WikiServletFilter"
            load-on-startup="true">
      </filter>
   </extension>
   <extension
         point="org.eclipse.equinox.http.registry.filters">
      <filter
            alias="/RPC2/"
            class="org.apache.wiki.ui.WikiServletFilter"
            load-on-startup="true">
      </filter>
   </extension>
-->
</plugin>
