<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.elwiki.manager.page.pageProvider">
      <pageManager
            class="org.elwiki.pageprovider.cdo.CdoWikiPageProvider"
            id="org.elwiki.provider.page.cdo">
      </pageManager>
   </extension>

</plugin>
