<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="2021-09_all + My. (windows)">
	<locations>
		<location path="D:\devj\dev_wikijsp\2021-12\Repositories\apacheTools\target\repository" type="Directory"/>
		<location path="D:\devj\dev_wikijsp\2021-12\Repositories\custom-p2-site\target\repository" type="Directory"/>
		<location path="D:\devj\dev_wikijsp\Repository\additionalArtifacts\target\repository" type="Directory"/>
		<location path="D:\devj\dev_wikijsp\Repository\fromEclipse\target\repository" type="Directory"/>
		<location path="D:\Repositories\p2\eclipse\releases\2021-12" type="Directory"/>
	</locations>
</target><!--
	<location path="${eclipse_home}" type="Profile"/>
-->