<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="2022-12_all + p2 repos. (windows)">
	<locations>
		<location path="D:\devj\dev_wikijsp\GIT\elwiki+jsp_2022-12\p2_repositories\apache-tools\target\repository" type="Directory"/>
		<location path="D:\devj\dev_wikijsp\GIT\elwiki+jsp_2022-12\p2_repositories\custom-p2-site\target\repository" type="Directory"/>
		<location path="D:\devj\dev_wikijsp\GIT\elwiki+jsp_2022-12\p2_repositories\additional-artifacts\target\repository" type="Directory"/>
		<location path="D:\devj\dev_wikijsp\GIT\elwiki+jsp_2022-12\p2_repositories\from-eclipse\target\repository" type="Directory"/>
		<location path="D:\devj\dev_wikijsp\GIT\elwiki+jsp_2022-12\p2_repositories\for-test-site\target\repository" type="Directory"/>
		<location path="C:\Users\v.fedorov\p2\eclipse\releases\2022-12" type="Directory"/>
	</locations>
	<includeBundles>
		<plugin id="com.google.gson" version="2.9.1"/>
		<plugin id="com.sun.el"/>
		<plugin id="jakarta.servlet-api"/>
		<plugin id="javax.activation" version="1.1.0.v201211130549"/>
		<plugin id="javax.annotation"/>
		<plugin id="javax.el-api"/>
		<plugin id="javax.inject"/>
		<plugin id="javax.mail"/>
		<plugin id="javax.servlet.jsp-api"/>
		<plugin id="javax.xml"/>
		<plugin id="jaxen"/>
		<plugin id="lpg.runtime.java"/>
		<plugin id="net.sf.ehcache"/>
		<plugin id="net.sourceforge.akismet-java"/>
		<plugin id="org.apache.commons.codec"/>
		<plugin id="org.apache.commons.commons-fileupload"/>
		<plugin id="org.apache.commons.io"/>
		<plugin id="org.apache.commons.lang3"/>
		<plugin id="org.apache.commons.logging"/>
		<plugin id="org.apache.felix.gogo.command" version="1.1.2.v20221112-0806"/>
		<plugin id="org.apache.felix.gogo.runtime"/>
		<plugin id="org.apache.felix.gogo.shell" version="1.1.4.v20221112-0806"/>
		<plugin id="org.apache.felix.scr"/>
		<plugin id="org.apache.jasper.glassfish"/>
		<plugin id="org.apache.log4j"/>
		<plugin id="org.apache.xalan"/>
		<plugin id="org.apache.xerces"/>
		<plugin id="org.apache.xml.resolver"/>
		<plugin id="org.apache.xml.serializer"/>
		<plugin id="org.eclipse.core.commands"/>
		<plugin id="org.eclipse.core.contenttype"/>
		<plugin id="org.eclipse.core.expressions"/>
		<plugin id="org.eclipse.core.filesystem"/>
		<plugin id="org.eclipse.core.jobs"/>
		<plugin id="org.eclipse.core.resources"/>
		<plugin id="org.eclipse.core.runtime"/>
		<plugin id="org.eclipse.emf.cdo"/>
		<plugin id="org.eclipse.emf.cdo.common"/>
		<plugin id="org.eclipse.emf.cdo.explorer"/>
		<plugin id="org.eclipse.emf.cdo.net4j"/>
		<plugin id="org.eclipse.emf.cdo.server"/>
		<plugin id="org.eclipse.emf.cdo.server.db"/>
		<plugin id="org.eclipse.emf.cdo.server.net4j"/>
		<plugin id="org.eclipse.emf.cdo.server.ocl"/>
		<plugin id="org.eclipse.emf.cdo.workspace"/>
		<plugin id="org.eclipse.emf.common"/>
		<plugin id="org.eclipse.emf.ecore"/>
		<plugin id="org.eclipse.emf.ecore.change"/>
		<plugin id="org.eclipse.emf.ecore.xmi"/>
		<plugin id="org.eclipse.equinox.app"/>
		<plugin id="org.eclipse.equinox.common"/>
		<plugin id="org.eclipse.equinox.console"/>
		<plugin id="org.eclipse.equinox.event"/>
		<plugin id="org.eclipse.equinox.http.jetty"/>
		<plugin id="org.eclipse.equinox.http.registry"/>
		<plugin id="org.eclipse.equinox.http.servlet"/>
		<plugin id="org.eclipse.equinox.jsp.jasper"/>
		<plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
		<plugin id="org.eclipse.equinox.preferences"/>
		<plugin id="org.eclipse.equinox.registry"/>
		<plugin id="org.eclipse.equinox.security"/>
		<plugin id="org.eclipse.equinox.useradmin"/>
		<plugin id="org.eclipse.jdt.annotation" version="2.2.700.v20220826-1026"/>
		<plugin id="org.eclipse.jetty.http"/>
		<plugin id="org.eclipse.jetty.io"/>
		<plugin id="org.eclipse.jetty.security"/>
		<plugin id="org.eclipse.jetty.server"/>
		<plugin id="org.eclipse.jetty.servlet"/>
		<plugin id="org.eclipse.jetty.util"/>
		<plugin id="org.eclipse.jetty.util.ajax"/>
		<plugin id="org.eclipse.jetty.xml"/>
		<plugin id="org.eclipse.jface"/>
		<plugin id="org.eclipse.net4j"/>
		<plugin id="org.eclipse.net4j.db"/>
		<plugin id="org.eclipse.net4j.db.h2"/>
		<plugin id="org.eclipse.net4j.db.jdbc"/>
		<plugin id="org.eclipse.net4j.jvm"/>
		<plugin id="org.eclipse.net4j.tcp"/>
		<plugin id="org.eclipse.net4j.util"/>
		<plugin id="org.eclipse.ocl"/>
		<plugin id="org.eclipse.ocl.common"/>
		<plugin id="org.eclipse.ocl.ecore"/>
		<plugin id="org.eclipse.osgi"/>
		<plugin id="org.eclipse.osgi.services"/>
		<plugin id="org.eclipse.osgi.util"/>
		<plugin id="org.eclipse.swt"/>
		<plugin id="org.h2"/>
		<plugin id="org.jdom.2"/>
		<plugin id="org.jvnet.hudson.org.suigeneris.jrcs.diff"/>
		<plugin id="org.osgi.service.cm"/>
		<plugin id="org.osgi.service.component"/>
		<plugin id="org.osgi.service.device"/>
		<plugin id="org.osgi.service.event"/>
		<plugin id="org.osgi.service.metatype"/>
		<plugin id="org.osgi.service.prefs"/>
		<plugin id="org.osgi.service.provisioning"/>
		<plugin id="org.osgi.service.upnp"/>
		<plugin id="org.osgi.service.useradmin"/>
		<plugin id="org.osgi.service.wireadmin"/>
		<plugin id="org.osgi.util.function"/>
		<plugin id="org.osgi.util.measurement"/>
		<plugin id="org.osgi.util.position"/>
		<plugin id="org.osgi.util.promise"/>
		<plugin id="org.osgi.util.xml"/>
		<plugin id="org.slf4j.api"/>
		<plugin id="oro"/>
		<plugin id="xmlrpc.source"/>
		<plugin id="xmlrpc"/>
		<plugin id="net.sourceforge.sandler"/>
		<plugin id="net.sourceforge.sandler.source"/>
		<plugin id="org.freshcookies.security.source"/>
		<plugin id="org.freshcookies.security"/>
		<plugin id="org.apache.lucene.core" version="9.4.2"/>
		<plugin id="org.apache.lucene.core.source" version="9.4.2"/>
		<plugin id="org.apache.lucene.highlighter"/>
		<plugin id="org.apache.lucene.highlighter.source"/>
		<plugin id="org.apache.lucene.queries"/>
		<plugin id="org.apache.lucene.queries.source"/>
		<plugin id="org.apache.lucene.queryparser" version="9.4.2"/>
		<plugin id="org.apache.lucene.queryparser.source"/>
		<plugin id="org.apache.lucene.memory"/>
		<plugin id="org.apache.lucene.memory.source"/>
		<plugin id="org.apache.lucene.sandbox"/>
		<plugin id="org.apache.lucene.sandbox.source"/>
		<plugin id="org.apache.lucene.analysis-common"/>
		<plugin id="org.apache.lucene.analysis-common.source"/>
	</includeBundles>
</target>