<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="2022-12_all + p2 repos">
	<locations>
		<location path="/home/vfedorov/dev/dev_wikijsp/GIT/elwiki+jsp_2022-12/p2_repositories/custom-p2-site/target/repository" type="Directory"/>
		<location path="/home/vfedorov/dev/dev_wikijsp/GIT/elwiki+jsp_2022-12/p2_repositories/apache-tools/target/repository" type="Directory"/>
		<location path="/home/vfedorov/dev/dev_wikijsp/GIT/elwiki+jsp_2022-12/p2_repositories/additional-artifacts/target/repository" type="Directory"/>
		<location path="/home/vfedorov/dev/dev_wikijsp/GIT/elwiki+jsp_2022-12/p2_repositories/from-eclipse/target/repository" type="Directory"/>
		<location path="/home/repository/eclipse/releases/2022-12" type="Directory"/>
	</locations>
</target>