<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="2023-12_all + p2 repos. (windows)">
	<locations>
		<location path="D:\devj\dev_wikijsp\GIT\elwiki_jsp_2023-12\p2_repositories\apache-tools\target\repository" type="Directory"/>
		<location path="D:\devj\dev_wikijsp\GIT\elwiki_jsp_2023-12\p2_repositories\custom-p2-site\target\repository" type="Directory"/>
		<location path="D:\devj\dev_wikijsp\GIT\elwiki_jsp_2023-12\p2_repositories\additional-artifacts\target\repository" type="Directory"/>
		<location path="D:\devj\dev_wikijsp\GIT\elwiki_jsp_2023-12\p2_repositories\for-test-site\target\repository" type="Directory"/>
		<location path="C:\Users\v.fedorov\p2\eclipse\releases\2023-12" type="Directory"/>
	</locations>
	<includeBundles>
		<plugin id="com.google.gson"/>
		<plugin id="com.sun.el.javax.el"/>
		<plugin id="com.sun.el.javax.el.source"/>
		<plugin id="jakarta.annotation-api" version="1.3.5"/>
		<plugin id="jakarta.annotation-api.source" version="1.3.5"/>
		<plugin id="jakarta.enterprise.cdi-api"/>
		<plugin id="jakarta.enterprise.cdi-api.source"/>
		<plugin id="jakarta.inject.jakarta.inject-api" version="1.0.5"/>
		<plugin id="jakarta.inject.jakarta.inject-api.source" version="1.0.5"/>
		<plugin id="jakarta.interceptor-api"/>
		<plugin id="jakarta.interceptor-api.source"/>
		<plugin id="jakarta.servlet-api" version="6.0.0"/>
		<plugin id="jakarta.servlet-api.source" version="6.0.0"/>
		<plugin id="jakarta.transaction-api"/>
		<plugin id="jakarta.transaction-api.source"/>
		<plugin id="javax.activation" version="1.1.0.v201211130549"/>
		<plugin id="javax.activation" version="1.2.2.v20221203-1659"/>
		<plugin id="javax.mail"/>
		<plugin id="javax.xml"/>
		<plugin id="jaxen" version="2.0.0"/>
		<plugin id="jaxen.source" version="2.0.0"/>
		<plugin id="lpg.runtime.java"/>
		<plugin id="lpg.runtime.java.source"/>
		<plugin id="net.sf.ehcache"/>
		<plugin id="net.sf.ehcache.source"/>
		<plugin id="net.sourceforge.akismet-java"/>
		<plugin id="net.sourceforge.akismet-java.source"/>
		<plugin id="org.apache.aries.spifly.dynamic.bundle"/>
		<plugin id="org.apache.aries.spifly.dynamic.bundle.source"/>
		<plugin id="org.apache.commons.codec"/>
		<plugin id="org.apache.commons.commons-fileupload"/>
		<plugin id="org.apache.commons.commons-io"/>
		<plugin id="org.apache.commons.commons-io.source"/>
		<plugin id="org.apache.commons.lang3" version="3.13.0"/>
		<plugin id="org.apache.commons.lang3.source" version="3.13.0"/>
		<plugin id="org.apache.commons.logging"/>
		<plugin id="org.apache.commons.logging.source"/>
		<plugin id="org.apache.commons.text"/>
		<plugin id="org.apache.commons.text.source"/>
		<plugin id="org.apache.commons.httpclient"/>
		<plugin id="org.apache.felix.gogo.command"/>
		<plugin id="org.apache.felix.gogo.command.source"/>
		<plugin id="org.apache.felix.gogo.runtime"/>
		<plugin id="org.apache.felix.gogo.runtime.source"/>
		<plugin id="org.apache.felix.gogo.shell"/>
		<plugin id="org.apache.felix.gogo.shell.source"/>
		<plugin id="org.apache.felix.scr"/>
		<plugin id="org.apache.felix.scr.source"/>
		<plugin id="org.apache.log4j"/>
		<plugin id="org.apache.log4j.source"/>
		<plugin id="org.apache.lucene.analysis-common" version="9.8.0"/>
		<plugin id="org.apache.lucene.analysis-common.source" version="9.8.0"/>
		<plugin id="org.apache.lucene.core" version="9.8.0"/>
		<plugin id="org.apache.lucene.core.source" version="9.8.0"/>
		<plugin id="org.apache.lucene.highlighter" version="9.8.0"/>
		<plugin id="org.apache.lucene.highlighter.source" version="9.8.0"/>
		<plugin id="org.apache.lucene.queries" version="9.8.0"/>
		<plugin id="org.apache.lucene.queries.source" version="9.8.0"/>
		<plugin id="org.apache.lucene.queryparser" version="9.8.0"/>
		<plugin id="org.apache.lucene.queryparser.source" version="9.8.0"/>
		<plugin id="org.apache.lucene.memory" version="9.8.0"/>
		<plugin id="org.apache.lucene.memory.source" version="9.8.0"/>
		<plugin id="org.apache.lucene.sandbox" version="9.8.0"/>
		<plugin id="org.apache.lucene.sandbox.source" version="9.8.0"/>
		<plugin id="org.apache.xalan"/>
		<plugin id="org.apache.xerces"/>
		<plugin id="org.apache.xerces.source"/>
		<plugin id="org.apache.xml.resolver"/>
		<plugin id="org.apache.xml.resolver.source"/>
		<plugin id="org.apache.xml.serializer"/>
		<plugin id="org.eclipse.core.commands"/>
		<plugin id="org.eclipse.core.commands.source"/>
		<plugin id="org.eclipse.core.contenttype"/>
		<plugin id="org.eclipse.core.contenttype.source"/>
		<plugin id="org.eclipse.core.expressions"/>
		<plugin id="org.eclipse.core.expressions.source"/>
		<plugin id="org.eclipse.core.filesystem"/>
		<plugin id="org.eclipse.core.filesystem.source"/>
		<plugin id="org.eclipse.core.jobs"/>
		<plugin id="org.eclipse.core.jobs.source"/>
		<plugin id="org.eclipse.core.resources"/>
		<plugin id="org.eclipse.core.resources.source"/>
		<plugin id="org.eclipse.core.runtime"/>
		<plugin id="org.eclipse.core.runtime.source"/>
		<plugin id="org.eclipse.emf.cdo"/>
		<plugin id="org.eclipse.emf.cdo.source"/>
		<plugin id="org.eclipse.emf.cdo.common"/>
		<plugin id="org.eclipse.emf.cdo.common.source"/>
		<plugin id="org.eclipse.emf.cdo.explorer"/>
		<plugin id="org.eclipse.emf.cdo.explorer.source"/>
		<plugin id="org.eclipse.emf.cdo.net4j"/>
		<plugin id="org.eclipse.emf.cdo.net4j.source"/>
		<plugin id="org.eclipse.emf.cdo.server"/>
		<plugin id="org.eclipse.emf.cdo.server.source"/>
		<plugin id="org.eclipse.emf.cdo.server.db"/>
		<plugin id="org.eclipse.emf.cdo.server.db.source"/>
		<plugin id="org.eclipse.emf.cdo.server.net4j"/>
		<plugin id="org.eclipse.emf.cdo.server.net4j.source"/>
		<plugin id="org.eclipse.emf.cdo.server.ocl"/>
		<plugin id="org.eclipse.emf.cdo.server.ocl.source"/>
		<plugin id="org.eclipse.emf.cdo.workspace"/>
		<plugin id="org.eclipse.emf.cdo.workspace.source"/>
		<plugin id="org.eclipse.emf.common"/>
		<plugin id="org.eclipse.emf.common.source"/>
		<plugin id="org.eclipse.emf.ecore"/>
		<plugin id="org.eclipse.emf.ecore.source"/>
		<plugin id="org.eclipse.emf.ecore.change"/>
		<plugin id="org.eclipse.emf.ecore.change.source"/>
		<plugin id="org.eclipse.emf.ecore.xmi"/>
		<plugin id="org.eclipse.emf.ecore.xmi.source"/>
		<plugin id="org.eclipse.equinox.app"/>
		<plugin id="org.eclipse.equinox.app.source"/>
		<plugin id="org.eclipse.equinox.common"/>
		<plugin id="org.eclipse.equinox.common.source"/>
		<plugin id="org.eclipse.equinox.console"/>
		<plugin id="org.eclipse.equinox.console.source"/>
		<plugin id="org.eclipse.equinox.event"/>
		<plugin id="org.eclipse.equinox.event.source"/>
		<plugin id="org.eclipse.equinox.http.jetty"/>
		<plugin id="org.eclipse.equinox.http.jetty.source"/>
		<plugin id="org.eclipse.equinox.http.registry"/>
		<plugin id="org.eclipse.equinox.http.registry.source"/>
		<plugin id="org.eclipse.equinox.http.servlet"/>
		<plugin id="org.eclipse.equinox.http.servlet.source"/>
		<plugin id="org.eclipse.equinox.jsp.jasper"/>
		<plugin id="org.eclipse.equinox.jsp.jasper.source"/>
		<plugin id="org.eclipse.equinox.jsp.jasper.registry"/>
		<plugin id="org.eclipse.equinox.jsp.jasper.registry.source"/>
		<plugin id="org.eclipse.equinox.preferences"/>
		<plugin id="org.eclipse.equinox.preferences.source"/>
		<plugin id="org.eclipse.equinox.registry"/>
		<plugin id="org.eclipse.equinox.registry.source"/>
		<plugin id="org.eclipse.equinox.security"/>
		<plugin id="org.eclipse.equinox.security.source"/>
		<plugin id="org.eclipse.equinox.useradmin"/>
		<plugin id="org.eclipse.equinox.useradmin.source"/>
		<plugin id="org.eclipse.jdt.annotation" version="2.2.800.v20231029-1039"/>
		<plugin id="org.eclipse.jdt.annotation.source" version="2.2.800.v20231029-1039"/>
		<plugin id="org.eclipse.jdt.core.compiler.batch"/>
		<plugin id="org.eclipse.jdt.core.compiler.batch.source"/>
		<plugin id="org.eclipse.jetty.ee8.security"/>
		<plugin id="org.eclipse.jetty.ee8.security.source"/>
		<plugin id="org.eclipse.jetty.ee8.server"/>
		<plugin id="org.eclipse.jetty.ee8.server.source"/>
		<plugin id="org.eclipse.jetty.ee8.servlet"/>
		<plugin id="org.eclipse.jetty.ee8.servlet.source"/>
		<plugin id="org.eclipse.jetty.http" version="12.0.3"/>
		<plugin id="org.eclipse.jetty.http.source" version="12.0.3"/>
		<plugin id="org.eclipse.jetty.io" version="12.0.3"/>
		<plugin id="org.eclipse.jetty.io.source" version="12.0.3"/>
		<plugin id="org.eclipse.jetty.security" version="12.0.3"/>
		<plugin id="org.eclipse.jetty.security.source" version="12.0.3"/>
		<plugin id="org.eclipse.jetty.server" version="12.0.3"/>
		<plugin id="org.eclipse.jetty.server.source" version="12.0.3"/>
		<plugin id="org.eclipse.jetty.servlet-api"/>
		<plugin id="org.eclipse.jetty.servlet-api.source"/>
		<plugin id="org.eclipse.jetty.session"/>
		<plugin id="org.eclipse.jetty.session.source"/>
		<plugin id="org.eclipse.jetty.util" version="12.0.3"/>
		<plugin id="org.eclipse.jetty.util.source" version="12.0.3"/>
		<plugin id="org.eclipse.jetty.util.ajax"/>
		<plugin id="org.eclipse.jetty.util.ajax.source"/>
		<plugin id="org.eclipse.jetty.xml"/>
		<plugin id="org.eclipse.jface"/>
		<plugin id="org.eclipse.jface.source"/>
		<plugin id="org.eclipse.net4j"/>
		<plugin id="org.eclipse.net4j.source"/>
		<plugin id="org.eclipse.net4j.db"/>
		<plugin id="org.eclipse.net4j.db.source"/>
		<plugin id="org.eclipse.net4j.db.h2"/>
		<plugin id="org.eclipse.net4j.db.h2.source"/>
		<plugin id="org.eclipse.net4j.db.jdbc"/>
		<plugin id="org.eclipse.net4j.db.jdbc.source"/>
		<plugin id="org.eclipse.net4j.jvm"/>
		<plugin id="org.eclipse.net4j.jvm.source"/>
		<plugin id="org.eclipse.net4j.tcp"/>
		<plugin id="org.eclipse.net4j.tcp.source"/>
		<plugin id="org.eclipse.net4j.util"/>
		<plugin id="org.eclipse.net4j.util.source"/>
		<plugin id="org.eclipse.ocl"/>
		<plugin id="org.eclipse.ocl.source"/>
		<plugin id="org.eclipse.ocl.common"/>
		<plugin id="org.eclipse.ocl.common.source"/>
		<plugin id="org.eclipse.ocl.ecore"/>
		<plugin id="org.eclipse.ocl.ecore.source"/>
		<plugin id="org.eclipse.osgi"/>
		<plugin id="org.eclipse.osgi.source"/>
		<plugin id="org.eclipse.osgi.compatibility.state"/>
		<plugin id="org.eclipse.osgi.compatibility.state.source"/>
		<plugin id="org.eclipse.osgi.util"/>
		<plugin id="org.eclipse.osgi.util.source"/>
		<plugin id="org.eclipse.osgi.services"/>
		<plugin id="org.eclipse.osgi.services.source"/>
		<plugin id="org.eclipse.swt"/>
		<plugin id="org.freshcookies.security"/>
		<plugin id="org.freshcookies.security.source"/>
		<plugin id="org.h2"/>
		<plugin id="org.jdom2"/>
		<plugin id="org.jdom2.source"/>
		<plugin id="org.jvnet.hudson.org.suigeneris.jrcs.diff"/>
		<plugin id="org.jvnet.hudson.org.suigeneris.jrcs.diff.source"/>
		<plugin id="org.mortbay.jasper.apache-jsp.source"/>
		<plugin id="org.mortbay.jasper.apache-jsp"/>
		<plugin id="org.objectweb.asm" version="9.6"/>
		<plugin id="org.objectweb.asm.source" version="9.6.0"/>
		<plugin id="org.objectweb.asm.commons"/>
		<plugin id="org.objectweb.asm.commons.source"/>
		<plugin id="org.objectweb.asm.tree"/>
		<plugin id="org.objectweb.asm.tree.source"/>
		<plugin id="org.objectweb.asm.tree.analysis"/>
		<plugin id="org.objectweb.asm.tree.analysis.source"/>
		<plugin id="org.objectweb.asm.util"/>
		<plugin id="org.objectweb.asm.util.source"/>
		<plugin id="org.osgi.service.cm"/>
		<plugin id="org.osgi.service.cm.source"/>
		<plugin id="org.osgi.service.component"/>
		<plugin id="org.osgi.service.component.source"/>
		<plugin id="org.osgi.service.device"/>
		<plugin id="org.osgi.service.device.source"/>
		<plugin id="org.osgi.service.event"/>
		<plugin id="org.osgi.service.event.source"/>
		<plugin id="org.osgi.service.metatype"/>
		<plugin id="org.osgi.service.metatype.source"/>
		<plugin id="org.osgi.service.prefs"/>
		<plugin id="org.osgi.service.prefs.source"/>
		<plugin id="org.osgi.service.provisioning"/>
		<plugin id="org.osgi.service.provisioning.source"/>
		<plugin id="org.osgi.service.upnp"/>
		<plugin id="org.osgi.service.upnp.source"/>
		<plugin id="org.osgi.service.useradmin"/>
		<plugin id="org.osgi.service.useradmin.source"/>
		<plugin id="org.osgi.service.wireadmin"/>
		<plugin id="org.osgi.service.wireadmin.source"/>
		<plugin id="org.osgi.util.function"/>
		<plugin id="org.osgi.util.function.source"/>
		<plugin id="org.osgi.util.measurement"/>
		<plugin id="org.osgi.util.measurement.source"/>
		<plugin id="org.osgi.util.position"/>
		<plugin id="org.osgi.util.position.source"/>
		<plugin id="org.osgi.util.promise"/>
		<plugin id="org.osgi.util.promise.source"/>
		<plugin id="org.osgi.util.xml"/>
		<plugin id="org.osgi.util.xml.source"/>
		<plugin id="oro"/>
		<plugin id="oro.source"/>
		<plugin id="slf4j.api" version="2.0.9"/>
		<plugin id="slf4j.api.source" version="2.0.9"/>
		<plugin id="slf4j.simple"/>
		<plugin id="slf4j.simple.source"/>
		<plugin id="xmlrpc"/>
		<plugin id="xmlrpc.source"/>
	</includeBundles>
</target>