<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/elwikijsp (+plugins)"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true&#10;-Dorg.osgi.service.http.port=8081"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc}/__runtime-elwikijsp(+plugins)"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="com.google.gson*2.8.2.v20180104-1110@default:default"/>
        <setEntry value="com.sun.el@default:default"/>
        <setEntry value="javax.activation*1.1.0.v201211130549@default:default"/>
        <setEntry value="javax.activation*1.2.2.v20201119-1642@default:default"/>
        <setEntry value="javax.annotation@default:default"/>
        <setEntry value="javax.el@default:default"/>
        <setEntry value="javax.mail@default:default"/>
        <setEntry value="javax.servlet*3.1.0.v201410161800@default:default"/>
        <setEntry value="javax.servlet.jsp@default:default"/>
        <setEntry value="javax.xml@default:default"/>
        <setEntry value="jaxen@default:default"/>
        <setEntry value="net.sf.ehcache@default:default"/>
        <setEntry value="net.sourceforge.akismet-java@default:default"/>
        <setEntry value="net.sourceforge.sandler@default:default"/>
        <setEntry value="org.apache.commons.fileupload@default:default"/>
        <setEntry value="org.apache.commons.io*2.6.0.v20190123-2029@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.jasper.glassfish@default:default"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.apache.lucene.analyzers-common*8.5.1@default:default"/>
        <setEntry value="org.apache.lucene.core*8.5.1@default:default"/>
        <setEntry value="org.apache.lucene.highlighter@default:default"/>
        <setEntry value="org.apache.lucene.memory@default:default"/>
        <setEntry value="org.apache.lucene.queries@default:default"/>
        <setEntry value="org.apache.lucene.queryparser*8.5.1@default:default"/>
        <setEntry value="org.apache.lucene.sandbox@default:default"/>
        <setEntry value="org.apache.oro@default:default"/>
        <setEntry value="org.apache.xalan*2.7.1.v201005080400@default:default"/>
        <setEntry value="org.apache.xalan*2.7.2.v20201124-1837@default:default"/>
        <setEntry value="org.apache.xerces@default:default"/>
        <setEntry value="org.apache.xml.resolver@default:default"/>
        <setEntry value="org.apache.xml.serializer@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources*3.13.900.v20201028-1137@default:default"/>
        <setEntry value="org.eclipse.core.resources*3.13.900.v20201105-1507@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.common*3.14.0.v20200929-1802@2:true"/>
        <setEntry value="org.eclipse.equinox.common*3.14.0.v20201102-2053@2:true"/>
        <setEntry value="org.eclipse.equinox.console@default:default"/>
        <setEntry value="org.eclipse.equinox.http.jetty@default:default"/>
        <setEntry value="org.eclipse.equinox.http.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.http.servlet*1.6.700.v20201026-1433@default:default"/>
        <setEntry value="org.eclipse.equinox.http.servlet*1.6.700.v20201109-1600@default:default"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper.registry@default:default"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences*3.8.100.v20201027-1107@default:default"/>
        <setEntry value="org.eclipse.equinox.preferences*3.8.100.v20201102-2042@default:default"/>
        <setEntry value="org.eclipse.equinox.registry*3.10.0.v20200929-1802@default:default"/>
        <setEntry value="org.eclipse.equinox.registry*3.10.0.v20201107-1818@default:default"/>
        <setEntry value="org.eclipse.jetty.continuation*9.4.33.v20201020@default:default"/>
        <setEntry value="org.eclipse.jetty.continuation*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.http*9.4.33.v20201020@default:default"/>
        <setEntry value="org.eclipse.jetty.http*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.io*9.4.33.v20201020@default:default"/>
        <setEntry value="org.eclipse.jetty.io*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.security*9.4.33.v20201020@default:default"/>
        <setEntry value="org.eclipse.jetty.security*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.server*9.4.33.v20201020@default:default"/>
        <setEntry value="org.eclipse.jetty.server*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet*9.4.33.v20201020@default:default"/>
        <setEntry value="org.eclipse.jetty.servlet*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.util*9.4.33.v20201020@default:default"/>
        <setEntry value="org.eclipse.jetty.util*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.webapp*9.4.33.v20201020@default:default"/>
        <setEntry value="org.eclipse.jetty.webapp*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.xml*9.4.33.v20201020@default:default"/>
        <setEntry value="org.eclipse.jetty.xml*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jface*3.22.0.v20201024-1253@default:default"/>
        <setEntry value="org.eclipse.jface*3.22.0.v20201106-0834@default:default"/>
        <setEntry value="org.eclipse.osgi*3.16.100.v20201024-1459@-1:true"/>
        <setEntry value="org.eclipse.osgi*3.16.100.v20201030-1916@-1:true"/>
        <setEntry value="org.eclipse.osgi.services@default:default"/>
        <setEntry value="org.eclipse.osgi.util@default:default"/>
        <setEntry value="org.eclipse.swt*3.115.100.v20201028-2203@default:default"/>
        <setEntry value="org.eclipse.swt*3.115.100.v20201118-2303@default:default"/>
        <setEntry value="org.eclipse.swt*3.115.100.v20201125-2302@default:default"/>
        <setEntry value="org.freshcookies.security@default:default"/>
        <setEntry value="org.jdom.2@default:default"/>
        <setEntry value="org.jvnet.hudson.org.suigeneris.jrcs.diff@default:default"/>
        <setEntry value="org.slf4j.api*1.7.30.v20200204-2150@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="com.opcoach.e4.preferences.mainmenu@default:default"/>
        <setEntry value="com.opcoach.e4.preferences@default:default"/>
        <setEntry value="org.eclipse.equinox.http.helper@default:default"/>
        <setEntry value="org.elwiki.api@default:default"/>
        <setEntry value="org.elwiki.authorize.check@default:default"/>
        <setEntry value="org.elwiki.authorize.condition@default:false"/>
        <setEntry value="org.elwiki.authorize.context.anonymous@default:default"/>
        <setEntry value="org.elwiki.authorize.context.asserted@default:default"/>
        <setEntry value="org.elwiki.authorize.context.authenticated@default:default"/>
        <setEntry value="org.elwiki.authorize@default:default"/>
        <setEntry value="org.elwiki.commandresolver@default:default"/>
        <setEntry value="org.elwiki.configuration@default:default"/>
        <setEntry value="org.elwiki.core.plugins@default:default"/>
        <setEntry value="org.elwiki.data.edit@default:default"/>
        <setEntry value="org.elwiki.data.editor@default:default"/>
        <setEntry value="org.elwiki.data@default:default"/>
        <setEntry value="org.elwiki.event@default:default"/>
        <setEntry value="org.elwiki.log4.definition@default:false"/>
        <setEntry value="org.elwiki.main@default:default"/>
        <setEntry value="org.elwiki.manager.attachment@default:default"/>
        <setEntry value="org.elwiki.manager.difference@default:default"/>
        <setEntry value="org.elwiki.manager.editor@default:default"/>
        <setEntry value="org.elwiki.manager.filters@default:default"/>
        <setEntry value="org.elwiki.manager.page@default:default"/>
        <setEntry value="org.elwiki.manager.pagerenamer@default:default"/>
        <setEntry value="org.elwiki.manager.referencemanager@default:default"/>
        <setEntry value="org.elwiki.manager.renderer@default:default"/>
        <setEntry value="org.elwiki.manager.search@default:default"/>
        <setEntry value="org.elwiki.manager.workflow@default:default"/>
        <setEntry value="org.elwiki.provider.page.cdo@default:default"/>
        <setEntry value="org.elwiki.resources@default:default"/>
        <setEntry value="org.elwiki.storage.cdo@default:default"/>
        <setEntry value="org.elwiki.urlconstructor@default:default"/>
        <setEntry value="org.elwiki.util@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="false"/>
    <stringAttribute key="timestamp" value="1592855673139"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
