<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
    <booleanAttribute key="append.args" value="true"/>
    <booleanAttribute key="automaticAdd" value="false"/>
    <booleanAttribute key="automaticValidate" value="true"/>
    <stringAttribute key="bootstrap" value=""/>
    <stringAttribute key="checked" value="[NONE]"/>
    <booleanAttribute key="clearConfig" value="true"/>
    <stringAttribute key="configLocation" value="${workspace_loc}/.metadata/.plugins/org.eclipse.pde.core/elwikijsp (+plugins) (+emf) 2020-03 (1)"/>
    <booleanAttribute key="default" value="true"/>
    <booleanAttribute key="default_auto_start" value="true"/>
    <intAttribute key="default_start_level" value="4"/>
    <setAttribute key="deselected_workspace_bundles"/>
    <booleanAttribute key="includeOptional" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.8"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -ws ${target.ws} -arch ${target.arch} -nl ${target.nl} -consoleLog -console 10002"/>
    <stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Delwiki.users.database=/home/vfedorov/dev/dev_wikijsp/WS/data/users.json&#10;-Delwiki.groups.database=/home/vfedorov/dev/dev_wikijsp/WS/data/groups.json&#10;&#10;-Declipse.ignoreApp=true -Dosgi.noShutdown=true&#10;-Dorg.osgi.service.http.port=8081&#10;-DLog4jContextSelector=org.apache.logging.log4j.core.async.AsyncLoggerContextSelector"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc}/__runtime-elwikijsp(+plugins)(+emf)2020-03"/>
    <stringAttribute key="pde.version" value="3.3"/>
    <setAttribute key="selected_target_bundles">
        <setEntry value="ch.qos.logback.classic@default:default"/>
        <setEntry value="ch.qos.logback.core@default:default"/>
        <setEntry value="ch.qos.logback.slf4j@default:false"/>
        <setEntry value="com.google.gson*2.8.2.v20180104-1110@default:default"/>
        <setEntry value="com.google.guava*27.1.0.v20190517-1946@default:default"/>
        <setEntry value="com.ibm.icu@default:default"/>
        <setEntry value="com.sun.el@default:default"/>
        <setEntry value="com.sun.jna.platform@default:default"/>
        <setEntry value="com.sun.jna@default:default"/>
        <setEntry value="jakarta.xml.bind*2.3.3.v20201118-1818@default:default"/>
        <setEntry value="java_cup.runtime@default:default"/>
        <setEntry value="javax.activation*1.1.0.v201211130549@default:default"/>
        <setEntry value="javax.annotation@default:default"/>
        <setEntry value="javax.el@default:false"/>
        <setEntry value="javax.inject@default:default"/>
        <setEntry value="javax.mail@default:default"/>
        <setEntry value="javax.persistence@default:default"/>
        <setEntry value="javax.servlet*3.1.0.v201410161800@default:default"/>
        <setEntry value="javax.servlet.jsp.jstl-api@default:default"/>
        <setEntry value="javax.servlet.jsp@2:true"/>
        <setEntry value="javax.xml.stream@default:default"/>
        <setEntry value="javax.xml@default:default"/>
        <setEntry value="jaxen@default:default"/>
        <setEntry value="lpg.runtime.java@default:default"/>
        <setEntry value="net.sf.ehcache@default:default"/>
        <setEntry value="net.sourceforge.akismet-java@default:default"/>
        <setEntry value="net.sourceforge.sandler@default:default"/>
        <setEntry value="org.apache.batik.constants*1.13.0.v20200622-2037@default:default"/>
        <setEntry value="org.apache.batik.css*1.13.0.v20200622-2037@default:default"/>
        <setEntry value="org.apache.batik.i18n*1.13.0.v20200622-2037@default:default"/>
        <setEntry value="org.apache.batik.util*1.13.0.v20200622-2037@default:default"/>
        <setEntry value="org.apache.bcel@default:default"/>
        <setEntry value="org.apache.commons.codec*1.13.0.v20200108-0001@default:default"/>
        <setEntry value="org.apache.commons.fileupload@default:default"/>
        <setEntry value="org.apache.commons.httpclient@default:default"/>
        <setEntry value="org.apache.commons.io*2.6.0.v20190123-2029@default:default"/>
        <setEntry value="org.apache.commons.jxpath@default:default"/>
        <setEntry value="org.apache.commons.lang3@default:default"/>
        <setEntry value="org.apache.commons.logging*1.2.0.v20180409-1502@default:default"/>
        <setEntry value="org.apache.felix.gogo.command@default:default"/>
        <setEntry value="org.apache.felix.gogo.runtime@default:default"/>
        <setEntry value="org.apache.felix.gogo.shell@default:default"/>
        <setEntry value="org.apache.felix.scr@1:true"/>
        <setEntry value="org.apache.jasper.glassfish@default:default"/>
        <setEntry value="org.apache.log4j@default:default"/>
        <setEntry value="org.apache.lucene.analyzers-common*8.5.1@default:default"/>
        <setEntry value="org.apache.lucene.core*8.5.1@default:default"/>
        <setEntry value="org.apache.lucene.highlighter@default:default"/>
        <setEntry value="org.apache.lucene.memory@default:default"/>
        <setEntry value="org.apache.lucene.queries@default:default"/>
        <setEntry value="org.apache.lucene.queryparser*8.5.1@default:default"/>
        <setEntry value="org.apache.lucene.sandbox@default:default"/>
        <setEntry value="org.apache.oro@default:default"/>
        <setEntry value="org.apache.xalan*2.7.1.v201005080400@default:default"/>
        <setEntry value="org.apache.xalan*2.7.2.v20201124-1837@default:default"/>
        <setEntry value="org.apache.xerces@default:default"/>
        <setEntry value="org.apache.xml.resolver@default:default"/>
        <setEntry value="org.apache.xml.serializer@default:default"/>
        <setEntry value="org.apache.xmlgraphics@default:default"/>
        <setEntry value="org.dom4j@default:default"/>
        <setEntry value="org.eclipse.ant.core@default:default"/>
        <setEntry value="org.eclipse.compare.core@default:default"/>
        <setEntry value="org.eclipse.core.commands@default:default"/>
        <setEntry value="org.eclipse.core.contenttype@default:default"/>
        <setEntry value="org.eclipse.core.databinding.observable@default:default"/>
        <setEntry value="org.eclipse.core.databinding.property@default:default"/>
        <setEntry value="org.eclipse.core.databinding@default:default"/>
        <setEntry value="org.eclipse.core.expressions@default:default"/>
        <setEntry value="org.eclipse.core.filebuffers*3.6.1100.v20201029-1159@default:default"/>
        <setEntry value="org.eclipse.core.filesystem.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.core.filesystem@default:default"/>
        <setEntry value="org.eclipse.core.jobs@default:default"/>
        <setEntry value="org.eclipse.core.resources*3.13.900.v20201105-1507@default:default"/>
        <setEntry value="org.eclipse.core.runtime@default:true"/>
        <setEntry value="org.eclipse.core.variables@default:default"/>
        <setEntry value="org.eclipse.emf.cdo*4.12.0.v20201125-0935@default:default"/>
        <setEntry value="org.eclipse.emf.cdo.common*4.12.0.v20201125-0935@default:default"/>
        <setEntry value="org.eclipse.emf.cdo.edit@default:default"/>
        <setEntry value="org.eclipse.emf.cdo.net4j*4.4.0.v20201125-0935@default:default"/>
        <setEntry value="org.eclipse.emf.common@default:default"/>
        <setEntry value="org.eclipse.emf.databinding@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.change@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.edit@default:default"/>
        <setEntry value="org.eclipse.emf.ecore.xmi@default:default"/>
        <setEntry value="org.eclipse.emf.ecore@default:default"/>
        <setEntry value="org.eclipse.emf.edit@default:default"/>
        <setEntry value="org.eclipse.equinox.app@default:default"/>
        <setEntry value="org.eclipse.equinox.bidi@default:default"/>
        <setEntry value="org.eclipse.equinox.common*3.14.0.v20201102-2053@2:true"/>
        <setEntry value="org.eclipse.equinox.console@2:default"/>
        <setEntry value="org.eclipse.equinox.event@default:default"/>
        <setEntry value="org.eclipse.equinox.http.jetty@default:default"/>
        <setEntry value="org.eclipse.equinox.http.registry@default:true"/>
        <setEntry value="org.eclipse.equinox.http.servlet*1.6.700.v20201109-1600@default:true"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper.registry@1:true"/>
        <setEntry value="org.eclipse.equinox.jsp.jasper@1:true"/>
        <setEntry value="org.eclipse.equinox.preferences*3.8.100.v20201102-2042@default:default"/>
        <setEntry value="org.eclipse.equinox.region@default:false"/>
        <setEntry value="org.eclipse.equinox.registry*3.10.0.v20201107-1818@default:default"/>
        <setEntry value="org.eclipse.equinox.security.linux.x86_64@default:false"/>
        <setEntry value="org.eclipse.equinox.security@default:default"/>
        <setEntry value="org.eclipse.equinox.transforms.hook@default:false"/>
        <setEntry value="org.eclipse.equinox.useradmin@default:default"/>
        <setEntry value="org.eclipse.equinox.weaving.hook@default:false"/>
        <setEntry value="org.eclipse.fx.osgi@default:false"/>
        <setEntry value="org.eclipse.help@default:default"/>
        <setEntry value="org.eclipse.jdt.annotation*2.2.600.v20200408-1511@default:default"/>
        <setEntry value="org.eclipse.jetty.continuation*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.http*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.io*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.security*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.server*9.4.34.v20201102@2:default"/>
        <setEntry value="org.eclipse.jetty.servlet*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.util*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.webapp*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jetty.xml*9.4.34.v20201102@default:default"/>
        <setEntry value="org.eclipse.jface*3.22.0.v20201106-0834@default:default"/>
        <setEntry value="org.eclipse.ltk.core.refactoring@default:default"/>
        <setEntry value="org.eclipse.net4j.tcp@default:default"/>
        <setEntry value="org.eclipse.net4j.util*3.13.0.v20201125-0935@default:default"/>
        <setEntry value="org.eclipse.net4j@default:default"/>
        <setEntry value="org.eclipse.ocl*3.15.100.v20201130-0641@default:default"/>
        <setEntry value="org.eclipse.ocl.common*1.8.500.v20201130-0641@default:default"/>
        <setEntry value="org.eclipse.osgi*3.16.100.v20201030-1916@-1:true"/>
        <setEntry value="org.eclipse.osgi.compatibility.state@default:false"/>
        <setEntry value="org.eclipse.osgi.services.remoteserviceadmin@1:true"/>
        <setEntry value="org.eclipse.osgi.services@1:true"/>
        <setEntry value="org.eclipse.osgi.util@1:true"/>
        <setEntry value="org.eclipse.pde.ds.lib@default:default"/>
        <setEntry value="org.eclipse.rap.filedialog@default:default"/>
        <setEntry value="org.eclipse.rap.fileupload@default:default"/>
        <setEntry value="org.eclipse.rap.jface.databinding@default:default"/>
        <setEntry value="org.eclipse.rap.jface@default:default"/>
        <setEntry value="org.eclipse.rap.rwt@default:default"/>
        <setEntry value="org.eclipse.swt*3.115.100.v20201125-2302@default:default"/>
        <setEntry value="org.eclipse.swt.browser.chromium.gtk.linux.x86_64*3.115.100.v20201125-2302@default:false"/>
        <setEntry value="org.eclipse.swt.gtk.linux.x86_64*3.115.100.v20201125-2302@default:false"/>
        <setEntry value="org.eclipse.team.core@default:default"/>
        <setEntry value="org.eclipse.text@default:default"/>
        <setEntry value="org.eclipse.urischeme*1.1.200.v20201104-0938@default:default"/>
        <setEntry value="org.freshcookies.security@default:default"/>
        <setEntry value="org.glassfish.hk2.osgi-resource-locator@default:default"/>
        <setEntry value="org.jdom.2@default:default"/>
        <setEntry value="org.jdom@default:default"/>
        <setEntry value="org.jvnet.hudson.org.suigeneris.jrcs.diff@default:default"/>
        <setEntry value="org.slf4j.api*1.7.30.v20200204-2150@default:default"/>
        <setEntry value="org.w3c.css.sac@default:default"/>
        <setEntry value="org.w3c.dom.events@default:default"/>
        <setEntry value="org.w3c.dom.smil*1.0.1.v200903091627@default:default"/>
        <setEntry value="org.w3c.dom.svg@default:default"/>
        <setEntry value="osgi.enterprise@default:default"/>
        <setEntry value="slf4j.api@default:default"/>
    </setAttribute>
    <setAttribute key="selected_workspace_bundles">
        <setEntry value="org.eclipse.equinox.http.helper@default:true"/>
        <setEntry value="org.elwiki.api@default:default"/>
        <setEntry value="org.elwiki.authorize.check@default:default"/>
        <setEntry value="org.elwiki.authorize.condition@default:false"/>
        <setEntry value="org.elwiki.authorize.context.anonymous@default:default"/>
        <setEntry value="org.elwiki.authorize.context.asserted@default:default"/>
        <setEntry value="org.elwiki.authorize.context.authenticated@default:default"/>
        <setEntry value="org.elwiki.authorize@default:default"/>
        <setEntry value="org.elwiki.commandresolver@default:default"/>
        <setEntry value="org.elwiki.configuration@default:default"/>
        <setEntry value="org.elwiki.core.plugins@default:default"/>
        <setEntry value="org.elwiki.data.edit@default:default"/>
        <setEntry value="org.elwiki.data@default:default"/>
        <setEntry value="org.elwiki.event@default:default"/>
        <setEntry value="org.elwiki.log4.definition@default:false"/>
        <setEntry value="org.elwiki.main@default:default"/>
        <setEntry value="org.elwiki.manager.attachment@default:default"/>
        <setEntry value="org.elwiki.manager.difference@default:default"/>
        <setEntry value="org.elwiki.manager.editor@default:default"/>
        <setEntry value="org.elwiki.manager.filters@default:default"/>
        <setEntry value="org.elwiki.manager.page@default:default"/>
        <setEntry value="org.elwiki.manager.pagerenamer@default:default"/>
        <setEntry value="org.elwiki.manager.referencemanager@default:default"/>
        <setEntry value="org.elwiki.manager.renderer@default:default"/>
        <setEntry value="org.elwiki.manager.search@default:default"/>
        <setEntry value="org.elwiki.manager.workflow@default:default"/>
        <setEntry value="org.elwiki.provider.page.cdo@default:default"/>
        <setEntry value="org.elwiki.resources@default:default"/>
        <setEntry value="org.elwiki.storage.cdo@default:default"/>
        <setEntry value="org.elwiki.urlconstructor@default:default"/>
        <setEntry value="org.elwiki.util@default:default"/>
    </setAttribute>
    <booleanAttribute key="show_selected_only" value="true"/>
    <stringAttribute key="timestamp" value="1612037567164"/>
    <booleanAttribute key="tracing" value="false"/>
    <booleanAttribute key="useCustomFeatures" value="false"/>
    <booleanAttribute key="useDefaultConfigArea" value="true"/>
</launchConfiguration>
